// out: ../css/style.css, compress: true, sourceMap: false

@font-face {
  font-family: 'IM Fell DW Pica SC';
  src: url('fonts/IMFellDWPicaSC-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Zilla Slab Highlight';
  src: url('fonts/ZillaSlabHighlight-Bold.ttf') format('truetype');
}


body {
  background-color: #282c34;
  color: #abb2bf;
  font-family: serif;
}
